<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>62327054481-9vrb6pslapngjnv4u4bau0pqkqlunlor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62327054481-9vrb6pslapngjnv4u4bau0pqkqlunlor</string>
	<key>API_KEY</key>
	<string>AIzaSyDDv-KbKOJTW84uWCKB_-ZcHkUFIdspsg0</string>
	<key>GCM_SENDER_ID</key>
	<string>62327054481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.brytonmoeller.ios-viewer.Current-Match</string>
	<key>PROJECT_ID</key>
	<string>scouting-2017-5f51c</string>
	<key>STORAGE_BUCKET</key>
	<string>scouting-2017-5f51c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:62327054481:ios:f9aedd421cbec6c5</string>
	<key>DATABASE_URL</key>
	<string>https://scouting-2017-5f51c.firebaseio.com</string>
</dict>
</plist>